<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Invoices' } %>

<%= csrf_meta_tags %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= Spree.t(:invoices, scope: :invoices_and_documents) %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Invoice) %>
    <li><%= button_link_to Spree.t(:new_invoice, scope: :invoices_and_documents), new_admin_order_invoice_path(@order), icon: 'icon-plus' %></li>
  <% end %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= button_link_to Spree.t(:back_to_order_details, scope: :invoices_and_documents), edit_admin_order_path(@order), icon: 'icon-arrow-left' %></li>
  <% end %>
<% end %>

<% unless @invoices.any? %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results, scope: :invoices_and_documents) %>
  </div>
<% else %>
  <table class="index">
    <colgroup>
      <col style="width: 20%">
      <col style="width: 20%">
      <col style="width: 20%">
      <col style="width: 20%">
      <col style="width: 20%">
    </colgroup>
    <thead>
      <tr>
        <th><%= Spree.t(:invoice_number, scope: :invoices_and_documents) %></th>
        <th><%= Spree.t(:invoice_date, scope: :invoices_and_documents) %></th>
        <th><%= Spree.t(:invoice_total, scope: :invoices_and_documents) %></th>
        <th><%= Spree.t(:invoice_recipient, scope: :invoices_and_documents) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice|%>
        <tr id="<%= spree_dom_id invoice %>" class="<%= cycle('odd', 'even')%>">
          <td><%= invoice.invoice_number %></td>
          <td><%= invoice.invoice_date %></td>
          <td><%= number_to_currency(invoice.invoice_total, unit: '€', separator: ',', delimiter: '.') %></td>
          <td><%= invoice.invoice_recipient %></td>
          <td class="actions">
            <%= link_to_with_icon 'icon-print', Spree.t(:download_pdf, scope: :invoices_and_documents), spree.admin_invoice_path(invoice, format: :pdf), no_text: true, target: '_blank' %>
            <%= link_to_with_icon 'icon-pencil', Spree.t(:edit), spree.edit_admin_invoice_path(invoice), no_text: true %>
            <%= link_to_with_icon 'icon-trash', Spree.t(:edit), spree.admin_invoice_path(invoice), no_text: true, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

