<p>Dear <%= @invoice.invoice_address.first_name %>,</p>

<p>Thank you for your order.<br />
Please find attached your latest invoice. We'll also include this invoice in the package.</p>

<p>We have a lead time of 1-3 business days after receiving payment. Ultimaker 2 has a lead time of 8-10 weeks. You will receive an automated email to let you know once your item(s) have dispatched. Shortly after you will receive an email containing tracking details.</p>

<p>If you have any questions regarding your order, visit our <%= link_to 'FAQ', 'https://www.ultimaker.com/pages/support/faq' %> or contact our <%= link_to 'support department', 'http://support.ultimaker.com/index.php?/Tickets/Submit' %>.</p>

<p>Meet other Ultimaker users at our <%= link_to 'forum', 'http://umforum.ultimaker.com' %> and visit <%= link_to 'YouMagine.com', 'http://www.youmagine.com' %> for fun projects and free printable models.</p>

<p>We hope to see you again soon.</p>

<p>Kind regards,<br /><br />

Ultimaker<br />
www.ultimaker.com</p>
